<div class="container reservation_form" id="reservation_form">
  <h5>Create a reservation</h5>

  {% if reservation_error %}
    <div class="alert alert-danger" role="alert">
      <i class="bi bi-exclamation-octagon"></i> Unfortunately the reservation could not be created: <strong>{{ reservation_error }}</strong>
    </div>
    {% endif %}


  {% from "_formhelpers.html" import render_field %}
    <form class="row g-3" novalidate >
      {{ form.restaurant_id }}
      {{ form.h }}
      {{ form.csrf_token }}

      <div class="col-md-4">
        {{ render_field(form.name) }}
      </div>
      <div class="col-md-4">
        {{ render_field(form.num_people) }}
      </div>
      <div class="col-md-4">
        {{ render_field(form.reservation_date) }}
      </div>
      <div class="col-md-6">
        {{ render_field(form.time_from) }}
      </div>
      <div class="col-md-6">
        {{ render_field(form.time_until) }}
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-secondary"
          hx-get="{{ url_for('reservation.partial_reservations', restaurant_id=form.restaurant_id.data) }}"
          hx-target="#reservation_form"
          hx-swap="outerHTML">Cancel</a>
        <button type="button" class="btn btn-primary float-end"
          hx-post="{{ url_for('reservation.save')}}"
          hx-target="#reservation_form"
          hx-swap="outerHTML">Reserve</button>
      </div>
    </form>
</div>
