{% extends '_layout.html' %}

{% block header %}
  <h1>{% block title %}Restaurant: {{ form.name.data }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <h3>Restaurant:</h3>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <i class="bi bi-exclamation-octagon"></i> Could not procede because of validation errors!
    </div>
    {% endif %}

    {% from "_formhelpers.html" import render_field, render_select_field, render_checkbox_field %}
    <form class="row g-3" novalidate action="{{ url_for('restaurant.restaurant', restaurant_id=form.id.data, h=form.h.data)}}" method="POST">
      {{ form.id }}
      {{ form.h }}
      {{ form.csrf_token }}

      <div class="col-md-12">
        {{ render_field(form.name) }}
      </div>
      <div class="col-md-5">
        {{ render_field(form.street) }}
      </div>
      <div class="col-md-1">
        {{ render_field(form.zip) }}
      </div>
      <div class="col-md-4">
        {{ render_field(form.city) }}
      </div>
      <div class="col-md-2">
        {{ render_select_field(form.country) }}
      </div>
      <div class="col-md-2">
        {{ render_field(form.open_from) }}
      </div>
      <div class="col-md-2">
        {{ render_field(form.open_until) }}
      </div>
      <div class="col-md-12">
        <label class="form-label" >Open days</label>
        {{ render_checkbox_field(form.open_monday) }}
        {{ render_checkbox_field(form.open_tuesday) }}
        {{ render_checkbox_field(form.open_wednesday) }}
        {{ render_checkbox_field(form.open_thursday) }}
        {{ render_checkbox_field(form.open_friday) }}
        {{ render_checkbox_field(form.open_saturday) }}
        {{ render_checkbox_field(form.open_sunday) }}
      </div>


      <div class="col-12">
        <a href="/restaurants" class="btn btn-secondary" role="button">Cancel</a>
        <button type="submit" class="btn btn-primary float-end">Save</button>
      </div>
    </form>
  </div>

{% endblock %}
