<div id="reservation-content" class="reservation_list">
  <div col="row">
    <div class="col align-self-end">
      <button type="button" class="btn btn-outline-primary btn-lg float-end"
      hx-get="{{ url_for('reservation.partial_reservation_form', restaurant_id=restaurant.id, h=restaurant.id_hash) }}"
      hx-target="#reservation-content" hx-swap="outerHTML"><i class="bi bi-egg-fried"></i> Create Reservation</button>
    </div>
  </div>

  <div class="row">

    <div class="col-3"></div>
    <div class="col-6 text-center">

      {% if reservations|length == 0 %}

        <div class="alert alert-primary" role="alert">
          Currently no reservations available for restaurant '{{ restaurant.name }}'
        </div>

      {% else %}

        {% include "reservation/partial/component_reservation_table.html" %}

      {% endif %}

    </div>
    <div class="col-3"></div>
  </div>

</div>
