{% macro render_field(field) %}
  {{ field.label(class="form-label") }}
  {% if field.errors %}
    {{ field(class="form-control error_input")}}
    <div class="invalid-feedback" style="display:block">
      {% for error in field.errors %}{{ error }}{% endfor %}
    </div>
  {% else %}
    {{ field(class="form-control ")}}
  {% endif %}
{% endmacro %}

{% macro render_select_field(field) %}
  {{ field.label(class="form-label") }}
  {% if field.errors %}
    {{ field(class="form-select error_input")}}
    <div class="invalid-feedback" style="display:block"></div>
      {% for error in field.errors %}{{ error }}{% endfor %}
    </div>
  {% else %}
    {{ field(class="form-select ")}}
  {% endif %}
{% endmacro %}

{% macro render_checkbox_field(field) %}
<div class="form-check">
  {% if field.errors %}
    {{ field(class="form-check-input error_input")}}
    <div class="invalid-feedback" style="display:block">
      {% for error in field.errors %}{{ error }}{% endfor %}
    </div>
  {% else %}
    {{ field(class="form-check-input")}}
  {% endif %}
  {{ field.label(class="form-check-label") }}
</div>
{% endmacro %}
