<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  </head>
  <body>
    <main >
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="bi bi-database"></i> Restaurant Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('restaurant.index') }}">Restaurants</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="{{ url_for('reservation.index') }}">Reservation</a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>-->
            </ul>

            <!-- use this for htmx "ajax" calls -->
            <div id="indicator" class="htmx-indicator request_indicator">
              <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>&nbsp;{{ user.display_name }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"><i class="bi bi-envelope-at"></i> {{ user.email }}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
            </div>

          </div>
        </div>
      </nav>

      <!-- content goes here -->
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
      <!-- end of content block -->

      <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/sweetalert.js') }}"></script>
      <script type="text/javascript">

          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (() => {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          const forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {
              if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
              }

              form.classList.add('was-validated')
              }, false)
          })
          })()

      </script>
      <script>
        // @found: https://htmx.org/examples/confirm/
        document.addEventListener("htmx:confirm", function(e) {
          // The event is triggered on every trigger for a request, so we need to check if the element
          // that triggered the request has a hx-confirm attribute, if not we can return early and let
          // the default behavior happen
          if (!e.srcElement.hasAttribute('hx-confirm')) return

          // This will prevent the request from being issued to later manually issue it
          e.preventDefault()

          Swal.fire({
            title: "Please confirm",
            text: `${e.detail.question}`,
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#198754"
          }).then(function(result) {
            if (result.isConfirmed) {
              // If the user confirms, we manually issue the request
              e.detail.issueRequest(true); // true to skip the built-in window.confirm()
            }
          })
        })
      </script>
    </main>
  </body>
</html>
